// Place all the styles related to the timelines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* ***************** 下記を追加 ************** */
.logout_wrapper {
  text-align: right;
}
/* ******************************************** */
/* ***************** 下記を追加 ************** */
.timeline_wrapper {
  &.wrapper {
    width: 700px;
  }
  .actions {
    /* ***************** 下記を追加 ************** */
    .alert {
      float: left;
    }
    /* ******************************************** */
    // div.post {
     .post {
      float: right;
    }
  }
  /* ***************** 下記を追加 ************** */
  .timeline {
    .per {
      border-radius: 5px;
      padding: 10px;
      margin-top: 20px;

      background-color: #DADADA;
      &.mine {
        background-color: #C1EFFF;
      }

      p {
        margin: 0;
      }
      .icon {
        display: inline-block;
        width: 70px;
        vertical-align: top;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .message {
        display: inline-block;
        margin-left: 10px;
        width: 500px;
        vertical-align: top;
        word-wrap: break-word;
      }
    }
  }
/* ******************************************** */

}
/* ******************************************** */